:host{
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: 0 auto;
}
.title {
  width: 100%;
  align-items: center;

  .label, .img-type {
    font-size: 14px;
    vertical-align: middle;
  }

  .label-name, .custom-control-input{
    display: inline-block;
    vertical-align: middle;
  }
}

.dragTip{
  position: relative;
  &:after{
    position: absolute;
    content: "拖拽文件或图片到此处";
    top: 30%;
    left: 0;
    width: 100%;
    text-align: center;
    color: rgb(136, 167, 197);
    pointer-events: none;
  }
}


