<h2 class="d-flex title">
  <span>Decode Base64 PNG</span>
  <div class="flex-fill"></div>
  <button class="btn btn-light mr-8" type="button" (click)="handleSample()">Sample</button>
  <label for="background" class="label">背景:</label>
  <select
    name="background"
    id="background"
    class="form-control mr-8"
    [(ngModel)]="pngConfig.background">
    <option *ngFor="let bg of pngConfig.backgrounds" [value]="bg.color">{{ bg.label }}</option>
  </select>

  <div class="img-type">
    <label class="custom-control-label" *ngFor="let item of imgTypes">
      <input
        type="radio"
        class="custom-control-input"
        name="options"
        [(ngModel)]="pngConfig.imgType"
        [value]="item.type">
      <span class="label-name">{{item.name}}</span>
    </label>
  </div>
</h2>

<div *ngIf="pngConfig.imgType === 'string'" class="card no-padding" [ngClass]="{'dragTip': !this.pngConfig.baseString}" (drop)="handleDrop($event)">
  <textarea autofocus class="textarea" [(ngModel)]="pngConfig.baseString" (keyup)="pngVal()"></textarea>
</div>
<div *ngIf="pngConfig.imgType === 'url'" class="card no-padding">
  <input class="textarea"
         placeholder="请填入url"
         type="text" [(ngModel)]="urlPath" (keyup)="urlVal()">
</div>

<!-- Resources -->
<h3>Show Image</h3>
<div class="card-container">
  <div class="card result-image" [ngStyle]="{'background': pngConfig.background}">
    <img *ngIf="baseString" [src]="decode()" (load)="onImageLoad()" (error)="onImageError($event)"/>
  </div>
</div>
