:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 4px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  padding: 0 8px;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover {
  opacity: 0.8;
}

.content {
  position: relative;
  display: flex;
  margin: 70px auto 10px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: self-start;
}


.card svg.material-icons path {
  fill: #888;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 600px;
  height: 800px;
  margin-bottom: 16px;
}

.no-padding{padding: 0 !important;}
.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  width: 600px;
  margin: 8px 0;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}


.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.result-image{
  height: 512px;
  padding: 0;
  img{
    width: auto;
  }
}
$text-height: 80px;
.textarea{
  width: 100%;
  height: $text-height;
  padding: .375rem .75rem;
  color: #495057;
  background: url("/assets/png/clouds.png") no-repeat;
  background-size: cover;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.clouds{
  position: absolute;
  top: 80px;
  left: 0;
  height: $text-height;
  z-index: 0;
  opacity: .5;
  pointer-events: none;
}
