:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  width: 620px;
  min-height: 700px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 4px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  padding: 0 2px;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover {
  opacity: 0.8;
}


.card svg.material-icons path {
  fill: #888;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  //width: 100%;
  //min-width: 600px;
  //min-height: 600px;

  // a4 size
  width: 595px;
  height: 842px;
  background: red;
  //flex: 1;
  overflow: auto;
}

.binaryString {
  position: relative;
  width: 600px;
  overflow: hidden;
  display: flex;
  font-size: 12px;
  color: #606060;
  text-overflow: ellipsis;
.binaryLabel{
  font-weight: bold;
}
  .binaryContent{
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
    &.showAll{
      white-space: normal;
      overflow: visible;
      text-overflow: unset;
      height: auto;
    }
  }
  .btn-small {
    display: block;
    width: 60px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.8;
  }
}

.sub-title {
  display: flex;
  align-items: center;
}

.input-wrap {
  display: flex;
  align-items: center;

  .label {
    margin-left: 10px;
    font-size: 14px;
    font-weight: normal;
  }

  .input-number {
    width: 50px;
  }
}

.size-wrap {
  font-weight: normal;
  font-size: 12px;
  line-height: 1em;
  transform: scale(0.8);
}
.tools-wrap{
  margin-left: auto;
}


.no-padding {
  padding: 0 !important;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  width: 100%;
  min-width: 600px;
  margin: 8px 0;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}


.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.result-image {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  .loading {
    color: rgb(136, 167, 197);
    font-size: 16px;
  }

  img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
  }
}

h2 {
  .desc {
    margin: 0;
    font-size: 12px;
    display: inline-block;
    padding-top: -3px;
    vertical-align: -10px;
    font-weight: 300;
    padding-left: 10px;
  }

  .cta {
    position: relative;
    margin: auto;
    transition: all 0.2s ease;
    height: 32px;
    background: transparent;
    border-radius: 15px;
    outline: none;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      top: -1px;
      left: -15px;
      display: block;
      border-radius: 15px;
      background: rgba(255, 171, 157, 0.5);
      width: 50px;
      height: 30px;
      transition: all 0.3s ease;
    }

    span {
      position: relative;
      line-height: 18px;
      font-weight: 300;
      vertical-align: middle;
    }

    svg {
      position: relative;
      top: 0;
      margin-left: 10px;
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke: #111;
      stroke-width: 2;
      transform: translateX(-5px);
      transition: all 0.3s ease;
    }

    &:hover {
      svg {
        transform: translateX(0);
      }

      &:active {
        transform: scale(0.96);
      }

      &:before {
        left: 0;
        width: 100%;
        background: #ffab9d;
      }
    }
  }
}

$text-height: 50px;
.textarea {
  width: 100%;
  height: $text-height;
  padding: .375rem .7rem;
  color: #495057;
  background: url("./assets/png/clouds.png") no-repeat;
  background-size: cover;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  &::placeholder {
    color: rgb(136, 167, 197);
    font-size: 16px;
  }
}

.btn {
  background-color: #1976d2;
  color: #fff;
  padding: .2rem .3rem;
  font-size: 14px;
  line-height: 1.2;
  border-radius: .2rem;
  border: 1px solid #1976d2;
  transition: all .15s ease-in-out;
  cursor: pointer;
  text-transform: none;

  &-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #212529;
  }
}

.clouds {
  position: absolute;
  top: 80px;
  left: 0;
  height: $text-height;
  z-index: 0;
  opacity: .5;
  pointer-events: none;
}

.d-flex {
  display: flex;
}

.flex-fill {
  flex: 1 1 auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}


.form-control {
  display: inline-block;
  padding: 0.2rem 0.3rem;
  font-size: 14px;
  line-height: 1.2;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  text-transform: none;
}

.mr-4 {
  margin-right: 4px;
}

.mr-8 {
  margin-right: 8px;
}
